<div id="wrap">
<div id="main">
<div ng-include="'app/components/navbar/navbar.html'"></div>
<div >
	<div class="clearfix" >
		<div class="container">
			<div class="form-container col-sm-12">
				<div class="kard-form-wrapper">
					<div class="kard-form-item">
						<h3 class="text-center">
							<b>RESET PASSWORD</b>
						</h3>
					</div>
					<hr>
					<div class="kard-form-item">
						<form role="form" name="resetPwdForm" novalidate>
							<div class="form-group" ng-class="{ 'has-error' : resetPwdForm.resPassword1.$invalid  && !resetPwdForm.resPassword1.$pristine }" >
								<label for="resetPassword1">New Password</label>
								<input ng-minlength="8" class="form-control" type="password"
									 ng-model="resetPwd.password" placeholder = "New password" name="resPassword1" id="resPassword1" autofocus  required/>
								<div ng-show="resetPwdForm.$submitted || resetPwdForm.resPassword1.$touched">
									<p ng-show="resetPwdForm.resPassword1.$error.required" class="help-block">Password is Required.</p>
									<p ng-show="resetPwdForm.resPassword1.$error.minlength && !resetPwdForm.resPassword1.$error.required" class="help-block">Password should be minimum 8 characters long.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error' : resetPwdForm.resetPassword2.$invalid  && !resetPwdForm.resetPassword2.$pristine }">
							<label for="resetPassword2">Confirm Password</label>
							<input type="password" class="form-control" id="resetPassword2"
								 ng-model="resetPwd.password2" name="resetPassword2" placeholder = "Retype password" required ng-minlength = "8" />
								<p ng-show = "resetPwdForm.resetPassword2.$dirty">
								<span ng-hide="resetPwdForm.resetPassword2.$viewValue == resetPwdForm.resPassword1.$viewValue" class="help-block">Entered passwords does not match</span>
								</p>
							</div>
							<p class="text-error" ng-show = "errorMessage">{{errorMessage}}</p>
							<button type="submit" class="kard-btn forgotPwd_btn" ng-disabled="resetPwdForm.$invalid || apiWait"  ng-click="resetPwdFunc(resetPwd); apiWait = true;">Reset my password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</div>
<div ng-include="'app/components/footer/footer.html'" class="hidden-xs hidden-sm hidden-md">
</div>
<script type="text/ng-template" id="forgotPassword">
  <div class="text-center">
	  <p>The password reset instructions are sent to your mail.</p>
		<p>Please check your inbox.</p>
  </div>
</script>