<footer id = "footer">
  <div class="row container footer-container">
    <div class="col-sm-6 vertical-aligner">
        <p class="col-sm-4 col-md-4 col-xs-6">&copy; 2016 KARD</p>
        <a class="col-sm-4 col-md-4 col-xs-6" href="#">Privacy Policy</a>
    </div>
    <!--<div class="col-sm-6 hidden-xs">
        <ul class="kard-social-wrapper">
            <li><a class="kard-social kard-social-fb" href="http://www.facebook.com">
            </a></li>
            <li><a class="kard-social kard-social-tw" href="http://www.twitter.com">
            </a></li>
            <li><a class="kard-social kard-social-gp" href="http://www.plus.google.com">
            </a></li>
        </ul>
    </div>-->
  </div>
</footer>