<div class="primary-card-pop text-center">
	<h3>PLEASE SELECT YOUR PRIMARY CARD</h3>
	<p>What is a primary card?</p>
	<p>It's your go-to card. The one you use most often. We all have one. Kard will default to your primary card and only send you a notification when another card in your wallet offers better rewards.</p>
	<p>Don't worry! You will be able to change your primary card at any time.</p>
	<button class="kard-btn btn-block" ng-click = "closeThisDialog('Some value')">Select my primary card</button>
</div>