<div class="container-fluid">
<div class="row activity-row">
	<div class="col-sm-1 col-md-1" style="padding: 0px;">
		<img class="pic" src="../assets/images/person-icon.png">
	</div>
	<div class="col-sm-11 col-md-11">
		<div class="row activity-sub-row name">
			Roger Bridges
		</div>
		<div class="row activity-sub-row location vertical-aligner">
			<img src="../assets/images/Place_icon.png">
			<span>Central Park, NYC	</span>
		</div>
		<div class="row activity-sub-row desc">
			Roger Just activated his savings with JCrew on American Express
		</div>
		<div class="row vertical-aligner activity-sub-row thumbs-up">
			<img src="../assets/images/like.jpg">
			<div class="col-sm-offset-1 col-md-offset-1">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				+4
			</div>
		</div>
	</div>
</div>
<div class="row activity-row">
	<div class="col-sm-1 col-md-1" style="padding: 0px;">
		<img class="pic" src="../assets/images/person-icon.png">
	</div>
	<div class="col-sm-11 col-md-11">
		<div class="row activity-sub-row name">
			Roger Bridges
		</div>
		<div class="row activity-sub-row location vertical-aligner">
			<img src="../assets/images/Place_icon.png">
			<span>Central Park, NYC	</span>
		</div>
		<div class="row activity-sub-row desc">
			Roger Just activated his savings with JCrew on American Express
		</div>
		<div class="row vertical-aligner activity-sub-row thumbs-up">
			<img src="../assets/images/like.jpg">
			<div class="col-sm-offset-1 col-md-offset-1">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				<img class="pic-sub" src="../assets/images/person-icon.png">
				+4
			</div>
		</div>
	</div>
</div>

</div>