
<div>
	<div class="form-container  col-sm-12">
		<section class="kard-form-wrapper signup-form-wrapper">	
			<!-- <section class="intro text-center"> -->
			<div class="text-center">
					<h4>Join Kard Today</h4>
			</div>
			<div class="kard-form-item kard-form-item-text row sign-via" ng-hide="completeOne">
				<div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6" >
					<img src="../assets/images/facebookbutton.png" class="col-sm-6 col-xs-6 col-md-6 img-btn" ng-click="signupFB(); emailFocused = true">
					<google-plus-signin clientid="637442507989-rst3dliijlat2n7vf0jlvl6krmpkv58k.apps.googleusercontent.com	">
						<img src="../assets/images/google_button.png" class="col-sm-6 col-xs-6 col-md-6 img-btn g-signin2" ng-click="signinGoogle(); emailFocused = true">
					</google-plus-signin>
				</div>
			</div>
			<hr>
			<div class="kard-form-item kard-form-heading">
				<p>
					Or sign up using your email address
				</p>
			</div>
			<form role="form" name="signupForm" autocomplete="off" novalidate>
				<div class="kard-form-item" ng-hide="completeOne">
					<div class="form-part-wrapper">
						<div class="form-group" ng-class="{ 'has-error' : signupForm.signupfname.$invalid  && !signupForm.signupfname.$pristine}">
							<input ng-focus="fnameFocused = true; messageOne = ''; validFname = true" ng-blur="fnameFocused = false" class="form-control user" type="text" id="fname" ng-model="signup.fname"  name="signupfname" focus-if="!smallDevice" focus-delay="500" placeholder="Enter first name" required />
						</div>
						<div class="form-group" ng-class="{ 'has-error' : signupForm.signuplname.$invalid  && !signupForm.signuplname.$pristine}">
							<input ng-focus="lnameFocused = true; messageOne = ''; validlname = true" ng-blur="lnameFocused = false" class="form-control user" type="text" id="lname" ng-model="signup.lname"  name="signuplname" placeholder="Enter last name" required />
						</div>
						<div class="form-group" ng-class="{ 'has-error' : signupForm.signupemail.$invalid  && !signupForm.signupemail.$pristine,'floating-placeholder-float': signupForm.signupemail.$dirty && !signupForm.signupemail.$error.required || emailFocused }">
							<input ng-focus="emailFocused = true; messageOne = ''; validMail = true" ng-blur="emailFocused = false" class="form-control mail" type="email" id="email" validate-email
								 ng-model="signup.email"  name="signupemail" autocomplete="off" placeholder="Enter email address" required />
						</div>
						<div class="form-group" ng-class="{ 'has-error' : signupForm.signuppassword.$invalid  && !signupForm.signuppassword.$pristine,'floating-placeholder-float': signupForm.signuppassword.$dirty && !signupForm.signuppassword.$error.required || pwdFocused   }">
							<div class="show-hide-pwd">
				 			    <input ng-focus="pwdFocused = true" ng-blur="pwdFocused = false" type="password" class="form-control password"  id="password"
								 ng-model="signup.password" name="signuppassword" ng-pattern="/^[\S]*$/"  oncopy="return false" autocomplete="off" onpaste="return false" oncut="return false" placeholder="Enter password" required ng-minlength = '8'/>
							</div>
						</div>
						<div>
							<div class="col-md-1 col-sm-1 col-xs-1 start-left">
								<input type="checkbox" ng-model="agreed">
							</div>  
							By creating an account you agree to the Privacy Policy and Terms of Service
						</div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-6 start-left">
							<button type="submit" class="kard-btn login_btn btn-block" ng-disabled="signupForm.$invalid || apiWait || !agreed"  ng-click="signupUser(); apiWait = true">Create KARD Account&nbsp;&nbsp;&nbsp;&gt;</button>
							</div>
						</div>
						<div class="row col-sm-12 col-xs-12 col-md-12">
						Already have an account?<a href="">Log in</a>
						</div>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>

<script type="text/ng-template" id="privacyPolicyTemplate">
   
</script>

