<form role="form" name="changePasswordForm" novalidate class="profile-form">
    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.current_pwd.$invalid  && !changePasswordForm.current_pwd.$pristine }">
        <label for="current_pwd">Current Passsword</label>
        <input ng-focus="currPwdFocused = true; changePasswordForm.$setDirty" ng-blur="currPwdFocused = false" class="form-control" type="password" ng-model="changePwdData.current_pwd" placeholder="Current Password" name="current_pwd" required autocomplete="off" />
        <p ng-show="changePasswordForm.current_pwd.$touched" class="help-block">
            <span ng-show="!currPwdFocused && changePasswordForm.current_pwd.$error.required">&nbsp;Please enter your current password</span>
        </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.password1.$invalid  && !changePasswordForm.password1.$pristine && changePasswordForm.current_pwd.length>0 }">
        <label for="password1">New Password</label>
        <input ng-focus="Pwd1Focused = true;" ng-blur="Pwd1Focused = false" class="form-control" type="password" ng-model="changePwdData.password1" placeholder="New Password" name="password1" ng-minlength='8' ng-pattern="/^[\S]*$/" required autocomplete="off" />
        <!--  <p ng-show="changePasswordForm.password1.$dirty && !Pwd1Focused && changePasswordForm.password1.$error.required" class="help-block">Password is required</p> -->
        <div class="help-block" ng-show="changePasswordForm.password1.$touched && !Pwd1Focused">
            <p ng-show="changePasswordForm.password1.$error.required" class="help-block"> &nbsp; Please enter new password</p>
            <p ng-show="changePasswordForm.password1.$error.pattern&&!changePasswordForm.password1.$error.minlength" class="help-block">White spaces are not allowed in password field</p>
            <p ng-show="changePasswordForm.password1.$error.minlength" class="help-block">&nbsp;Password should be minimum 8 characters long</p>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.password2.$invalid  && !changePasswordForm.password2.$pristine }">
        <label for="password2">Retype Password</label>
        <input ng-focus="Pwd2Focused = true;" ng-blur="Pwd2Focused = false" type="password" class="form-control" id="password2" ng-model="changePwdData.password2" name="password2" placeholder="Retype password" ng-minlength='8' ng-pattern="/^[\S]*$/" required autocomplete="off" />
        <div class="help-block" ng-show="changePasswordForm.password2.$touched && !Pwd2Focused">
            <!-- <p ng-show="changePasswordForm.password2.$error.required" class="help-block">Password is required</p>
                <p ng-show="changePasswordForm.password2.$error.minlength" class="help-block">Password should be minimum 8 characters long</p> -->
            <span ng-show="changePasswordForm.password2.$viewValue !== changePasswordForm.password1.$viewValue && !changePasswordForm.password1.$error.required && !changePasswordForm.password2.$error.required" class="help-block">&nbsp;Passwords don't match</span>
        </div>
        <p class="text-error" ng-show="loginError && changePasswordForm.$pristine">{{message}}</p>
    </div>
    <div class="pull-right btn-wrapper">
        <button type="button" class="kard-btn kard-btn-sm " ng-disabled="changePasswordForm.$invalid || changePasswordForm.password2.$viewValue !== changePasswordForm.password1.$viewValue || apiWait" ng-click="changePassword(); apiWait = true; ">Change Password</button>
        <a ng-href="#/profile/my-profile">
            <button type="button" class="kard-btn kard-btn-sm kard-btn-negative">Cancel</button>
        </a>
    </div>
</form>
