<div id="wrap">
<div id="main">
<div ng-include="'app/components/navbar/navbar.html'"></div>
<div >
	<div class="clearfix" >
		<div class="container">
			<div class="form-container col-sm-12">
				<div class="kard-form-wrapper">
					<div class="kard-form-item">
						<h3 class="text-center">
							<b>FORGOT PASSWORD</b>
						</h3>
					</div>
					<hr>
					<div class="kard-form-item">
						<form role="form" name="forgotPwdForm" novalidate>
							<div class="form-group" ng-class="{ 'has-error' : forgotPwdForm.email.$invalid  && !forgotPwdForm.email.$pristine }" >
							<label for="email">Email</label>
								<input class="form-control" type="email"
									 ng-model="forgotPwd.email" placeholder = "Email" name="email" id="email"  required validate-email autofocus ng-focus = "errorMessage = false; inputFocus = true" ng-blur = "inputFocus = false"/>
								<p ng-show="forgotPwdForm.email.$touched && forgotPwdForm.email.$error.required" class="help-block text-error">Email is Required.</p>
								<p ng-show="forgotPwdForm.email.$invalid && !forgotPwdForm.email.$error.required && !inputFocus" class="help-block">Please enter valid email</p>
								<p class="text-error" ng-show = "errorMessage">{{errorMessage}}</p>
								<p class="help-block" ng-show = "apiWait">Sending Reset Instructions!</p>
							</div>
							<button type="submit" class="kard-btn btn-block forgotPwd_btn" ng-disabled="forgotPwdForm.$invalid || apiWait"  ng-click="forgotPwdFunc(forgotPwd); apiWait = true;">SUBMIT</button>
						</form>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</div>
<div ng-include="'app/components/footer/footer.html'" class="hidden-xs hidden-sm hidden-md">
</div>
<script type="text/ng-template" id="forgotPassword">
  <div class="text-center">
	  <p>The password reset instructions are sent to your mail.</p>
		<p>Please check your inbox.</p>
  </div>
</script>